<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzhHrkFCD5yZ42W0AyCbKAOdIwx8zTqcY</string>
	<key>GCM_SENDER_ID</key>
	<string>854787412759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theclosedcircuitapp</string>
	<key>PROJECT_ID</key>
	<string>the-closed-circuit-85591</string>
	<key>STORAGE_BUCKET</key>
	<string>the-closed-circuit-85591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854787412759:ios:b78a0106070ebe7bb59d52</string>
</dict>
</plist>